@import './font/font.css';

body {
  margin: 0;
  /* font-family: 'Helvetica Neue', arial, sans-serif; */
  font-family: 'yed-font', 'Helvetica Neue', arial, sans-serif;
}

yed-editor {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

